Question#1:Write a for loop to print all even numbers from 2 to 20.

In [2]:
for i in range (2,20,2):
  print(i)

2
4
6
8
10
12
14
16
18

Question#2:Create a list of names and use a for loop to print each name in uppercase.

In [6]:
names=["mohsin","umar","saif"]
for name in names:
    print(name.upper())

MOHSIN
UMAR
SAIF

Question#3:Use a for loop with range() to print numbers from 10 to 1 in reverse order.

In [8]:
for p in range(10,1,-1):
    print(p)

10
9
8
7
6
5
4
3
2

Question#4:Iterate through a list of integers and print only the numbers that are divisible by 3.

In [8]:
integers=[15,25,35,57,67,72]
for h in integers:
    if h % 3 == 0:
        print(h)

15
57
72

Question#5:Write a loop that prints the squares of numbers from 1 to 10.

In [14]:
for p in range(1,10):
    print(p**2)

1
4
9
16
25
36
49
64
81

Question#6:Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

In [9]:

celsius_temp = [15, 27, 33, 39, 47]
for temp in celsius_temp:
    farenhite_temp = (temp * 9/5) + 32
    print(farenhite_temp)

59.0
80.6
91.4
102.2
116.6

Question#7:Create a for loop that prints the multiplication table of 5

In [24]:
for f in range(1,11):
    print(f"{5} *{f} = {5*f}")

5 *1 = 5
5 *2 = 10
5 *3 = 15
5 *4 = 20
5 *5 = 25
5 *6 = 30
5 *7 = 35
5 *8 = 40
5 *9 = 45
5 *10 = 50

Question#8:Write a program to find the sum of all numbers in a list using a for loop.

In [46]:
numbers=[1,2,3,4,5,6,7,8,9,10]
total=0
for number in numbers:
    total += number
    print(total)

1
3
6
10
15
21
28
36
45
55

Question#9:Use a for loop to iterate through a string and print each character separately.

In [56]:
string=("Hello")
for t in string:
    print(t)

H
e
l
l
o

Question#10:Create a list of words and use a for loop to print only the words with more than 5 letters.

In [58]:
words=["appel","banana","cherry","grape","mango","strawberry","kiwi","pineappel"]
for word in words:
    if len(word)>5:
        print(word)

banana
cherry
strawberry
pineappel