In [1]:
my_dic={"name":"muhammad faizan","age":18,"city":"lahore"}
print(my_dic)

{'name': 'muhammad faizan', 'age': 18, 'city': 'lahore'}

In [2]:
print(my_dic["name"])

muhammad faizan

In [3]:
my_dic["age"]=19
print(my_dic)

{'name': 'muhammad faizan', 'age': 19, 'city': 'lahore'}

In [4]:
my_dic["ocupation"]="data analyst"
print(my_dic)

{'name': 'muhammad faizan', 'age': 19, 'city': 'lahore', 'ocupation': 'data analyst'}

In [5]:
del my_dic["ocupation"]
print(my_dic)

{'name': 'muhammad faizan', 'age': 19, 'city': 'lahore'}

In [6]:
del my_dic["age"]
print(my_dic)

{'name': 'muhammad faizan', 'city': 'lahore'}

In [7]:
for key,value in my_dic.items():
    print(key,value)

name muhammad faizan
city lahore

In [8]:
for key,value in my_dic.items():
    print(key)

name
city

In [9]:
for key,value in my_dic.items():
    print(value)

muhammad faizan
lahore

In [10]:
my_dic={"name":"muhammad faizan","age":18, "coalification":"ics","city":"lahore"}
for key,value in my_dic.items():
     print(key,value)

name muhammad faizan
age 18
coalification ics
city lahore

In [11]:
sales_data={"productA":1200,"productB":1500,"productC":900}
total_sales=sum(sales_data.values())
print("total sales",total_sales)

total sales 3600

In [12]:
max_sales= max(sales_data.values())
for product,sales in sales_data.items():
   if sales==max_sales:
    print("product with highest sales",product)

product with highest sales productB

In [13]:
min_sales=min(sales_data.values())
for product,sales in sales_data.items():
    if sales==min_sales:
        print("product with lowest sales",product)

product with lowest sales productC

In [14]:
total_sales = sum(sales_data.values())
sales_percentages = {}
for product, sales in sales_data.items():
    percentage = (sales / total_sales) * 100
    sales_percentages[product] = percentage
print(sales_percentages)

{'productA': 33.33333333333333, 'productB': 41.66666666666667, 'productC': 25.0}

In [15]:
#QuestionA
my_dic={"name": "muhammad faizan","age":18,"city":"lahore","hobby":"cricket"}
print(my_dic)

{'name': 'muhammad faizan', 'age': 18, 'city': 'lahore', 'hobby': 'cricket'}

In [16]:
#QuestionB
text="your text goes here"
counts={}
for word in text.lower().split():
    counts[word]=counts.get(word,0)+5
print(counts)

{'your': 5, 'text': 5, 'goes': 5, 'here': 5}

In [17]:
#QuestionC
inoventry={"bag":1500,"cap":300,"shirt":900}
inoventry["pant"]= 2000
print (inoventry)

{'bag': 1500, 'cap': 300, 'shirt': 900, 'pant': 2000}

In [18]:
#QuestionD
oders=["shirt","pant","shirt","bag","pant","trouser"]
popular={item:oders.count(item) for item in set(oders)}
print("product count:",popular)
most=max(popular,key=popular.get)
print("most popular product:",most)

product count: {'shirt': 2, 'bag': 1, 'pant': 2, 'trouser': 1}
most popular product: shirt

In [19]:
#QuestionE
grades={"zain":75,"faizan":80,"usman":85}
average= sum(grades.values())/len(grades)
print("average grade:",average)

average grade: 80.0

In [20]:
#QuestionF
inoventry={"shirt":[8,1000],"pant":[4,1500],"cap":[4,300]}
inoventry["bag"]=[3,2000]
inoventry["shirt"][0] +=2
total=0
for item in inoventry:
    qty=inoventry[item][0]
    price=inoventry[item][1]
    total+=qty*price
print("total inoventry value:",total)
print("low stock items:")
for item in inoventry:
    if inoventry[item][0]<4:
        print(item,"quantity:",inoventry[item][0])

total inoventry value: 23200
low stock items:
bag quantity: 3

In [21]:
#QuestionG
students={"zain":{"math":75,"english":80,"science":85},"usman":{"math":70,"english":90,"science":85},"ahmad":{"math":75,"english":65,"science":85}}
for student in students:
    total=students[student]["math"]+students[student]["english"]+students[student]["science"]
    students[student]["average"]=total/4
math_grades=[students["zain"]["math"],students["usman"]["math"],students["ahmad"]["math"]]
highest=max(math_grades)
lowest=min(math_grades)
print("highest math grade:",highest,"lowest math grade:",lowest)
sorted_students= sorted(students.items(), key=lambda y: y[1]["average"],reverse=True)
print("sorted students by average grade:")
for student in sorted_students:
    print(student[0],"average:",student[1]["average"])

highest math grade: 75 lowest math grade: 70
sorted students by average grade:
usman average: 61.25
zain average: 60.0
ahmad average: 56.25

In [1]:
#QuestionH
products={"shirt":[8,1000],"pant":[4,1500],"cap":[4,300],"jacket":[4,2500]}
cart={}
def add_to_cart(product,qty):
    if product in products and products[product][1]>= qty:
        cart[product]= cart.get(product,0)+qty
        products[product][1]-=qty
        print(f"added{qty} {product}(s) to the cart.")
    else:
        print(f"not enough{product}s in stock.")
def remo_from_cart(product,qty):
    if product in cart and cart[product]>=qty:
        cart[product]-=qty
        products[product][1]+=qty
    if cart[product]==0: del cart[product]
    print(f"removed{qty} {product}(s) from the cart.")
    else:
    print(f"not enough{product}s in the cart.")
def calculate_total():
    total=0
    for product in cart:
        total += products[product][0]*cart[product]
    return total
def apply_discount_and_tax(total)
     return total*1.05*0.9
#example
add_to_cart("shirt",3)
add_to_cart("pant",2)
total=calculate_total()
print("total befor discount and tax:",total)
final_total=apply_discount_and_tax(total)
print("final total after discount and tax:", final_total)

SyntaxError: invalid syntax (2285651543.py, line 17)